@model AppLog

@{
    ViewData["Title"] = "Hata Düzenle";
}





<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsFixed" /> @Html.DisplayNameFor(model => model.IsFixed)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="SlnDetail" class="control-label"></label>
                <textarea asp-for="SlnDetail" class="form-control"></textarea>
                <span asp-validation-for="SlnDetail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-dark" asp-controller="AppLog" asp-action="Index">Hata Listesine Geri Dön</a>
</div>

